
<!DOCTYPE html>
<html>
<head>
<title>Order Form</title>
</head>
<body>
<h1>Order Form</h1>
<form action="/create_order" method="post">
<label for="customer_name">Customer Name:</label>
<input type="text" name="customer_name" id="customer_name">
<br>
<label for="product_name">Product Name:</label>
<input type="text" name="product_name" id="product_name">
<br>
<label for="quantity">Quantity:</label>
<input type="number" name="quantity" id="quantity">
<br>
<input type="submit" value="Place Order">
</form>
</body>
</html>


